DATABASE_URL=

PREVIEW_SECRET=
# Used to validate preview requests
CRON_SECRET=
# Secret used to authenticate cron jobs
NEXT_PUBLIC_SERVER_URL=
# Used to configure CORS, format links and more. No trailing slash
PAYLOAD_SECRET=
# Used to encrypt JWT tokens

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_ENDPOINT=
R2_PUBLIC_URL=
